@import url("./reset.css");
/* font-family: 'Pacifico', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  font-size: 16px;
  --main-bg: #f2f1f2;
  --main-header: #b7d9ea;
  --main-footer: #dbcec1;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--main-bg);
}

.btn {
  width: 120px;
  background-color: var(--main-header);
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 0.5rem;
  cursor: pointer;
  display: inline-block;
  outline: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.btn:disabled {
  pointer-events: none;
  background-color: var(--main-footer);
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.main-header {
  background-color: var(--main-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 3rem;
}

.main-header__logo-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.main-header__nav {
  width: 40vw;
  display: flex;
  justify-content: end;
}

.main-header__ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10vw;
}

.ul__li--style {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}

.home__h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.home-section__span {
  font-family: "Pacifico", cursive;
}

.home-section__p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 5rem;
}

.home-section__a {
  text-shadow: 1px 1px 8px #3fabe0;
  text-decoration: underline;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  background-color: var(--main-footer);
}

.main-footer__h1 {
  font-size: 1.5rem;
}

#outlet {
  min-height: calc(100vh - 295px);
  padding: 3rem;
}

.dog-list__h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.dog-list__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 3rem;
}

.dog-list__section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.dog-list__dog-card {
  width: 18%;
  display: flex;
  justify-content: center;
}

.breed-card__a {
  display: block;
  text-align: center;
  width: fit-content;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.breed-card__p {
  font-family: "Pacifico", cursive;
  margin-bottom: 1rem;
}

.breed-card__img {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  width: 12vw;
  height: 12vw;
  min-width: 80px;
  min-height: 80px;
  object-fit: cover;
  object-position: center;
}

.dog-page__h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.dog-page__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  gap: 2rem 10vw;
}

.dog-page__li {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
}

.dog-page__li--selected {
  text-shadow: 1px 1px 8px #3fabe0;
}

.dog-page__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  gap: 3rem;
}

.dog-page__section {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.dog-page__single-img {
  display: block;
  width: 100%;
  max-width: 600px;
}
.dog-page__multi-img {
  display: block;
  width: 20%;
  max-width: 600px;
  margin: 0 5vw;
}
.sketchy {
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
  transform: rotate(2deg);
  border: 4px solid black;
}

@media (max-width: 900px) {
  .dog-list__dog-card {
    width: 40%;
  }
  .breed-card__img {
    width: 25vw;
    height: 25vw;
    min-width: 80px;
    min-height: 80px;
  }
  .dog-page__section {
    flex-direction: column;
  }
  .dog-page__multi-img {
    width: 60%;
  }
}

@media (max-width: 690px) {
  .main-header__ul {
    gap: 5vw;
  }
  .ul__li--style {
    font-size: 1.15rem;
  }
  .dog-list__dog-card {
    width: 100%;
  }
}
